<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/bowwows/adoptable">Show adoptable pets</a>
    <nav>
      <%=yield%>
    </nav>
  </body>
</html>
