<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bowwows</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header><h1>Bowwow's</h1></header>
    <nav>
      <a href="/bowwows">See Bowwows</a>
      <a href="/bowwows/new">Add Bowwow</a>
      <a href="/patrons">See Patrons</a>
      <a href="/patrons/new">Add Patron</a>
    </nav>
    <main>
      <%=yield%>
    </main>
  </body>
</html>
