<h1>Bowwows</h1>

<form action="/bowwows/search" method="post">

  <label class="switch">
    Healthy:
    <input type="checkbox" name="healthy">
  </label>

  <label class="switch">
    Trained:
    <input type="checkbox" name="trained">
  </label>

  <label class="switch">
    Adoptable:
    <input type="checkbox" name="adoptable">
  </label>

  <input type="submit" value="Search" />

</form> 


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>City</th>
    <th></th>
    <th>Breed</th>
    <th></th>
  </tr>
  <% for dog in @dogs %>
  <tr>
    <td><a href="/bowwows/<%= dog.id %>"   > <%= dog.name %> </td>
    <td>|</td>
    <td><%= dog.city %></td>
    <td>|</td>
    <td><%= dog.breed %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
