<div class = 'panel-header'>
  <h2>Bowwows</h2>
</div>
<div id="box">
<aside class = 'form-index'>
  <form action="/bowwows/search" method="post">
    <div class = 'data_field'>
      <label class="switch" for="healthy">
        Healthy:</label>
        <input type="checkbox" name="healthy" id="healthy">
    </div>
    <div class = 'data_field'>
      <label class="switch" for="trained">
        Trained:</label>
        <input type="checkbox" name="trained" id="trained">
    </div>
    <div class = 'data_field'>
      <label class="switch" for="adoptable">
        Adoptable:</label>
        <input type="checkbox" name="adoptable" id="adoptable">
    </div>
    <input type="submit" value="Search" />
  </form> 
</aside>

<article>
<table class = 'table-index'>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Breed</th>
  </tr>
    <% for dog in @dogs %>
  <tr>
    <td><a href="/bowwows/<%= dog.id %>"   > <%= dog.name %> </td>
    <td><%= dog.city %></td>
    <td><%= dog.breed %></td>
  </tr>
    <% end %>
</table>
</article>
</div>
