<div class="container">
  <div class="panel">
    <div class="panel-header">
      <h1>Add Bowwow</h1>
    </div>

    <form action='/bowwows' method='post'>

      <div class='field'>
        <label for='name'>Name:</label>
        <input type='text' name='name' />
      </div>

      <div class='field'>
        <label for='city'>City:</label>
        <input type='text' name='city' />
      </div>

      <div class='field'>
        <label for='breed'>Breed:</label>
        <input type='text' name='breed' />
      </div>

      <label for="date-field">Admission Date:</label>
        <input type="date" name="admission_date" id="date-field" />

      <input type='submit' value='Add Bowwow' class="btn btn-green btn-block"/>
    </form>
  </div>
</div>
